.default-style {
  margin: 50px;
  width: 90vw;
}

.dx-viewport {
  padding: 40px;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

::ng-deep .dx-overlay-content:has(.blue-tooltip),
::ng-deep .dx-overlay-content:has(.blue-tooltip) .dx-popover-arrow::after {
  background-color: #0f6cbd;
  color: white;
}

::ng-deep .dx-overlay-content:has(.red-tooltip),
::ng-deep .dx-overlay-content:has(.red-tooltip) .dx-popover-arrow::after {
  background-color: #d13438;
  color: white;
}
